<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <% cache do %>
    <b>Body:</b>
    <%= @post.body %>

    <div class="comment">
        <h4>Comments:</h4>
        <% @post.comments.includes(:replies).each do |c| %>
          <p><%= c.body %></p>
          <div class="post_nav">
            <div class="reply">
              <h5>Replies</h5>
              <% c.replies.each do |r| %>
                <p><%= r.body %></p>
              <% end %>
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
